:root {
    --primary-page-font: 'Roboto',sans-serif;
    --secondary-page-font: 'Raleway',sans-serif;
    --primary-page-color: #212121;
    --secondary-page-color:#757575;
    --accent-page-color: #2196F3;
    --secondary-accent-page-color:#fff;
}

/* ================COMPONENTS================ */
body {
    font-family: var(--primary-page-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--secondary-accent-page-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/* ================HEADER================ */

.menu-link.link.current {
        color:var(--accent-page-color)
}


.logotype {
    font-family: var(--secondary-page-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    color: var(--accent-page-color)
}
span {
    color:#000

}
.menu-link {
        font-weight: 500;
        line-height: 1.15;
        letter-spacing: 0.02em;
    
        color: var(--primary-page-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-page-color)
}

.contacts-link {
        font-weight: 500;
        line-height: 1.71;
        color: var(--secondary-page-color);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-page-color);
    cursor: pointer;
}
/* ================/HEADER================ */
/* ================HERO================ */

.hero {
        background-color: #2F303A;
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--secondary-accent-page-color);
}
.model-btn {
        font-family: inherit;
        background: #2196F3;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        color: var(--secondary-accent-page-color);
}
.model-btn:hover,
.contacts-link:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* ================/HERO================ */
/* ================ADVANTEGES================ */
.advantages-title {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--primary-page-color);
}
.advantages-text {

        line-height: 1.71;
        color: var(--secondary-page-color);
}
/* ================/ADVANTEGES================ */
/* ================ABOUT================ */
.section-title {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--primary-page-color);
}
/* ================/ABOUT================ */
/* ================EMPLOYEES================ */

.employees-secondary-title {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: var(--primary-page-color);
}
.employees-text {

        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: var(--secondary-page-color);
}
/* ================/EMPLOYEES================ */


/* =======MAIN PAGE PORTFOLIO ======== */

.page-btn {
        font-family: inherit;
        font-family: var(--primary-page-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
    
        color: var(--primary-page-color);
}
.page-btn.current {
        background-color: var(--accent-page-color);
        color: var(--secondary-accent-page-color);
}
.page-btn:hover,
.page-btn:focus {
        color: var(--secondary-accent-page-color);
        background: #2196F3;
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        cursor: pointer;

}
.portfolio-title {

        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        color: var(--primary-page-color);
}

.portfolio-text {

        font-size: 16px;
        line-height: 1.88;
    
        color: var(--secondary-page-color);
}
/* =======/MAIN PAGE PORTFOLIO ======== */

/* ================/FOOTER================ */
.footer {
        background-color: #2F303A;
}
.address {
        font-style: normal;
}
.footer-logo {
        font-family: var(--secondary-page-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color:var(--accent-page-color);
}

.footer-link-map {
        font-weight: 400;
        line-height: 1.71;
    
        color: var(--secondary-accent-page-color);
}


.footer-link:focus,
.footer-link:hover {
        color:var(--accent-page-color);
}


.footer-link {

        font-weight: 400;
        line-height: 1.71;
    
        color: rgba(255, 255, 255, 0.6);
}
/* ================/FOOTER================ */

