
:root {
    --primary-page-font: 'Roboto',sans-serif;
    --secondary-page-font: 'Raleway',sans-serif;
    --primary-page-color: #212121;
    --secondary-page-color:#757575;
    --accent-page-color: #2196F3;
    --secondary-accent-page-color:#fff;
}
h1,
h2,
h3,
h4,
p {
        margin-top: 0;
        margin-bottom: 0;       
}

ul,
ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

img {
        display: block;
}

.container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
}
/* ================COMPONENTS================ */
body {
    font-family: var(--primary-page-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--secondary-accent-page-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/* ================HEADER================ */
.header {
        padding: 24px 0;
        border-bottom: 1px solid #ECECEC;
}
.page-header-container {
        display: flex;
        align-items: center;
}

.main-nav {
        display: flex;
        align-items: center;
}

.menu {
        display: flex;
        align-items: center;
}
.menu-item:not(:last-child) {
        margin-right: 50px;
}

.contacts-list {
        display: flex;
        align-items: center;
}
.menu-link.link.current {
        color:var(--accent-page-color)
}

.logotype {
        margin-right: 93px;

    font-family: var(--secondary-page-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    color: var(--accent-page-color)
}
span {
    color:#000;
}

.menu-link {
        font-weight: 500;
        line-height: 1.15;
        letter-spacing: 0.02em;
    
        color: var(--primary-page-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-page-color)
}

.link-mail {
        margin-left: 330px;
        margin-right: 50px;
}
.contacts-link {
        font-weight: 500;
        line-height: 1.71;
        color: var(--secondary-page-color);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-page-color);
    cursor: pointer;
}
/* ================/HEADER================ */
/* ================HERO================ */

.hero {
        padding-top: 200px;
        padding-bottom: 30px;
        height: 601px;
        background-color: #2F303A;
}

.hero-page {
        display: flex;
        align-items: center;
        flex-direction: column;
}

.hero-title {
        
        width: 696px;
        height: 120px;
     
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--secondary-accent-page-color);
}
.model-btn {
        padding: 10 32;

        font-family: inherit;
        background: #2196F3;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        color: var(--secondary-accent-page-color);
}
.model-btn:hover,
.contacts-link:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* ================/HERO================ */
/* ================ADVANTEGES================ */
/* сховав заголовок */
.advantages-main-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.advantages-title {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--primary-page-color);
}
.advantages-list {
        background-color: #188CE8;
        display: flex;
        justify-content: space-between;
        padding-top: 91px;
        padding-bottom: 94px;
}

.advantages-item {
        width: 270px;
        height: 101px;
}
/* .advantages-item:not(:last-child) {
        margin-right: 38px; */

.advantages-text {
        font-family: var(--primary-page-font);
        font-size: 14px;
        line-height: 1.71;

        letter-spacing: 0.03em;
        color:var(--secondary-page-color);
}
/* ================/ADVANTEGES================ */
/* ================ABOUT================ */

.about-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 94px;
        background-color: aqua;
}
.section-title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--primary-page-color);
}
/* ================/ABOUT================ */
/* ================EMPLOYEES================ */
.employees {
        padding-top: 94px;
        padding-bottom: 94px;
        background-color: #F5F4FA;
}

.employees-list {
        display: flex;
        justify-content: space-between;
        
}
.employees-secondary-title {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: var(--primary-page-color);
}
.employees-text {

        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        color: var(--secondary-page-color);
}
/* ================/EMPLOYEES================ */


/* =======MAIN PAGE PORTFOLIO ======== */

.page-btn {
        font-family: inherit;
        font-family: var(--primary-page-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
    
        color: var(--primary-page-color);
}
.page-btn.current {
        background-color: var(--accent-page-color);
        color: var(--secondary-accent-page-color);
}
.page-btn:hover,
.page-btn:focus {
        color: var(--secondary-accent-page-color);
        background: #2196F3;
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        cursor: pointer;

}
.portfolio-title {

        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        color: var(--primary-page-color);
}

.portfolio-text {

        font-size: 16px;
        line-height: 1.88;
    
        color: var(--secondary-page-color);
}
/* =======/MAIN PAGE PORTFOLIO ======== */

/* ================/FOOTER================ */
.footer {
        background-color: #2F303A;
}
.address {
        font-style: normal;
}
.footer-logo {
        font-family: var(--secondary-page-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color:var(--accent-page-color);
}

.footer-link-map {
        font-weight: 400;
        line-height: 1.71;
    
        color: var(--secondary-accent-page-color);
}


.footer-link:focus,
.footer-link:hover {
        color:var(--accent-page-color);
}


.footer-link {

        font-weight: 400;
        line-height: 1.71;
    
        color: rgba(255, 255, 255, 0.6);
}
/* ================/FOOTER================ */

